.admin {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.side__content {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    height: 100vh;
    background: rgba(40, 81, 158, 1);
    position: sticky;
    z-index: 100;
}

.main__content {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    background: white;
}