.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    margin-top: 7rem;
}

.testimonial h1 {
    color: rgb(var(--secondary-color));
    font-size: 35px;
}

.testimonial__con {
    width: 100%;
    background-image: url(../../images/loginbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.testimonial__con > .swiper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.testimonial__overlay {
    width: 100%;
    padding: 10rem 3rem;
    background-color: rgb(var(--primary-color) / 50%);
}

.test__con {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.5rem;
    /* box-shadow: 0px 19px 20px rgb(0 0 0 / 8%); */
    margin-bottom: 4rem;
    /* margin-left: 5%; */
}

.test__head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.test__head img {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.test__con h2 {
    color: #fff;
    font-family: Poppins-Medium;
}

.test__con cite {
    color: #ededed;
}

.ratings {
    display: flex;
    align-items: center;
}

.ratings p {
    color: lightgray;
    font-size: Poppins-Light;
    margin-left: 1rem;
}

.swiper-pagination-bullet {
    opacity: 0.6 !important;
    transform: scale(0.8) !important;
    background-color: rgb(var(--secondary-color)) !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    transform: scale(1.2) !important;
}