@font-face {
    font-family: Poppins-Bold;
    src: url(./Fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-Medium;
    src: url(./Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Light;
    src: url(./Fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-ExtraLight;
    src: url(./Fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(./Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./Fonts/RobotoMono-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Poppins-Regular;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    /* background-image: url(./images/jd.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover; */
    /* opacity: .3; */
}

a {
    text-decoration: none;
    color: white;
}

a:focus {
    color: lightgray;
    user-select: none;
}